* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* ######################################################################## */

/* Denne del af CSS styler på den øverste bar med logo, 
search-bar og de tre ikoner med tekst */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  margin-left: 120px;
  margin-right: 120px;
  padding: 0;
  min-height: 100vh;
}
/* Body styler selvfølgelig hele siden */

.topnav {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  width: 100%;
}
/* Top baren */

.image-container {
  display: flex;
  align-items: center;
  width: 10%;
  padding-left: 10px;
}
/* Billedets placering */

.logo {
  width: 80px;
  height: 40px;
}
/* Billedets størrelse */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
}
/* Placering til søgebaren */

.search-input {
  position: absolute;
  border-radius: 25px;
  background: rgb(220, 220, 220);
  width: 400px;
  height: 30px;
  margin-right: 200px;
  outline: 0;
  border: none;
  padding-left: 20px;
}
/* Søgebarens størrelse, tekst og farve */

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin-left: 170px;
  z-index: +1;
}
/* Søge-ikonets størrelse og placering */

.action-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
  padding-right: 10px;
}
/* Bestemmelse for hvor ikonerne skal være og fylde */

.action-main {
  display: flex;
  justify-content: center;
}
/* Ikonets placering i "boksen" */

.action-description {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
/* Teksten til ikonet */

/* ################################################################### */

/* herunder styles menu-baren */
nav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  height: 35px;
  background: #3d3d3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
nav .navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 106px;
}
nav .navbar .nav-links {
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 20px;
  left: 0;
  line-height: 40px;
  background: #3d3d3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}

/* ###################################################################### */

.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 55px;
}
/* Bestemmer hvor listen skal placeres på siden */

.list-header {
  font-size: large;
  font-weight: 600;
}
/* Bestemmer størrelsen på første ord i listen */

li {
  list-style-type: none;
}
/* Fjerner prikkerne før de forskellige ord i listen */

.right-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* Denne container håndterer hele sektionen med hjerte-ikonet,
dens tilhørende tekst, samt de 12 forskellige beklædningsgenstande
med deres teskt og pris. */

.heart-container {
  display: flex;
  align-items: center;
  margin-left: 60px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
/* Her bestemmes hvor på siden hjerte-ikonet med tilhørende test er placeret */

#heart {
  padding-right: 10px;
  font-size: 38px;
}
/* Her styles hjerte-ikonet */

p {
  margin: 0;
  font-size: 28px;
}
/* Denne bestemmer størrelsen på teksten som hører til hjerte-ikonet */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 100%;
  height: 220px;
  gap: 40px;
}
/* Row bestemmer hvor meget plads de 12 "billeder" må fylde og
hvordan de skal lines op. */

.item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-basis: 21%;
  justify-content: center;
}
/* Item indeholder hver et billede af en beklædningsgenstand, beskrivelse og en pris.
Der bliver bestemt hvor meget "boksen" rundt om indholdet må fylde. */

.item-main {
  width: 100%;
}
/* Denne fortæller bare at indholdet skal fylde hele "boksen" ud. */

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
/* Disse fire a-relaterede stylings fjerner farver og understregninger
på teksten til beklædningen, fordi de er links */

.image {
  display: flex;
  min-height: 80%;
  min-width: 100%;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* Denne styler billederne med beklædningsgenstandende inde i "item-main" */

img {
  max-width: 100%;
  max-height: 100%;
}
/* Denne bestemmer størrelserne på billederne inde i "image" */

.main-description {
  max-width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Som det sidste styles test og pris */